{% extends "layouts/base.html" %}

{% block title_tag %}<title>{{ SITE_NAME }}</title>{% endblock %}

{% block content %}

      <div class="max-w-xl mt-16 mb-16 rounded overflow-hidden bg-gray-200 p-10 mx-auto">
          <p class="text-xl font-hairline">You've successfully setup a Django base site. Start Coding!</p>
          <p class="mt-6 text-center"><a class="uppercase bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded" href="http://django-base-site.readthedocs.org/en/latest/" target="_blank">Read documentation</a></p>
      </div>

{% endblock content %}
