<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title_tag %}<title>{% block title %}{% endblock %}{% if SITE_NAME %} - {{ SITE_NAME }}{% endif %}</title>{% endblock title_tag %}

        {% block style %}
        <link rel="stylesheet" href="{% static 'dist/css/base.min.css' %}">
        {% endblock style %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block script %}{% endblock script %}{% include "blocks/google-analytics.html" %}
    </head>

    <body{% block body_attr %} class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}"{% endblock %}>

        {% block base_header %}

        <nav class="flex items-center justify-between flex-wrap bg-gray-700 p-6">
          <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">

              <a href="{% url 'site_index' %}" class="uppercase text-xl block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-white mr-4">
                {{ SITE_NAME }}
              </a>

              <a href="{% url 'site_index' %}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-white mr-4">
                Home
              </a>
              <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-white mr-4">
                About
              </a>

              <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-gray-100 hover:text-white">
                Contact
              </a>

            </div>
          </div>
        </nav>

        {% endblock base_header %}

        {% block breadcrumb %}
        {% endblock breadcrumb %}

        {% if messages %}
        <div id="flash-message-container" class="container">
            {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% block base_content %}
        <div id="main-content" class="flex-1 container mx-auto">
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock base_content %}

        {% block base_footer %}
        <div class="w-full absolute bottom-0 border-solid border-t border-gray-200">
          <div class="text-gray-600 p-2">&copy; {{ SITE_NAME }} {% now "Y" %}</div>
        </div>

        {% endblock base_footer %}

        {% block bottom_script %}
            <script src="{% static 'dist/js/base.min.js' %}"></script>
        {% endblock bottom_script %}

    </body>
</html>
